/*--------------Général--------------*/
body {
    background-image: url("Images/purty_wood.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

@font-face {
	font-family: 'plaza';
	src: url('fonts/plaza.ttf');
}

.titres-sections {
	font-family: 'plaza';
	font-size: 50px;
	color: #ff831d;
	font-weight: bold;
}
/*--------------Header--------------*/
.carte {
	font-family: 'plaza';
}

.carte p {
	text-align: left
}
.prix p{
	text-align:right;
	font-weight:bold;
}
.prix-formule {
		font-weight:bolder;
		bottom:O;
}
.glyphicon-leaf {
	color:#008000;
}
.caroussel-inner{
	height: 250px;
}

.formulecarousel {
	font-family: 'plaza';
	text-align: center;
	font-weight: bold;

}
.formule h2{
	font-family: 'plaza';
	text-align: center;
	font-weight: bold;
}
.formule {
	font-family: 'plaza';
	text-align: center;
}
.container-fluid p {
	font-family: 'plaza';
	font-size: large;
	font-weight: bold;
}
.container-fluid{
	padding: 0;
}
.img-center{
	display: block;
	margin: 0px auto;
}
.bg-green {
	background-color : #a0cc3b !important;
}
.separate{
	background-image: url('Images/separate.png');
	background-repeat: repeat-x;
	height: 15px;
	margin-bottom: 4px;
	
}
.separate-container{
	margin-top: 15px;
	text-align: center;
}
.separate-container span{
margin-bottom: 10px;
}

.insta div {
padding: 0px;
}

/*== V nav ==*/
#op-verticalnav {
	position:fixed; 
	top:0; 
	right:0; 
	left: auto;
	height: 100%;
	display:table
}
#op-verticalnav .op-sectionlist {
	height:100%; 
	text-align:center; 
	display:table-cell; 
	vertical-align:middle
}
#op-verticalnav .op-v-item {
	display:block
}
#op-verticalnav .op-v-link {
	display:block; 
	margin:12px 0
}
#op-verticalnav .v-marker {
	width:10px; 
	height:10px; 
	border-radius:50%; 
	background-color:#ea7e27; 
	display:inline-block; 
	vertical-align:middle; 
	margin-bottom:-2px; 
	margin-right:10px;
	border: 1px solid #ec6f09;
}
#op-verticalnav .op-v-link:hover .v-marker, #op-verticalnav .op-v-item .op-v-link.active .v-marker {
	background-color:#ba5300; 
}
#op-verticalnav .op-v-itemdesc {
	display:inline-block; 
	font-size:14px; 
	position:absolute; 
	white-space:nowrap; 
	line-height:normal; 
	padding:0 34px 0 0;
	vertical-align:middle
}
#op-verticalnav .op-v-itemdesc .op-v-itembg{
	display:inline-block; 
	background-color:rgba(0,0,0,.5); 
	color:#fff; 
	padding:4px 10px 6px 10px; 
	border:1px solid rgba(160,160,160,.2); 
	border-radius:4px; 
}
#op-verticalnav .op-v-link:hover .op-v-itemdesc {
	right:0px; 
}


.logo_header {
	z-index: 2;
	position: absolute;
}

h1 {
	font-family: 'plaza';
	color: white;
	text-align: center;
	top: 25%;
	width: 100%;
	font-size: calc(14px + 4vw);
	position: absolute;
	z-index: 1;
	text-shadow: 10px 6px 4px black;
}
.titre2photo {
	font-family: 'plaza';
	color: white;
	text-align: center;
	top: 40%;
	width: 100%;
	font-size: calc(10px + 2vw);
	position: absolute;
	z-index: 1;
	text-shadow: 10px 6px 4px black;
}
.telheader {
	font-family: 'plaza';
	color: white;
	text-align: center;
	bottom: 5%;
	width: 100%;
	font-size: calc(10px + 2vw);
	position: absolute;
	z-index: 1;
	text-shadow: 10px 6px 4px black;
}
.telheaderxs {
	color: white;
	text-align: center;
	bottom: 5%;
	width: 100%;
	font-size: calc(10px + 2vw);
	position: absolute;
	z-index: 1;
	text-shadow: 10px 6px 4px black;
}
.telheaderxs button{
margin: auto;
}
.fond-header {
	text-align: center;
	position: relative;
}
.bgheader {
	/*position: relative;*/
}

#bs-example-navbar-collapse-1 {
	text-align: center;
}
.navbar {
	font-family: 'plaza';
	color: #ff831d;
	font-size: 18px;
}

.header-button {
	position: absolute;
}
@media only screen and (max-width: 1000px) {
    .logo_header {
        width: 20%;
    }
    .navbar {
    	font-size: 14px;
}}

@media only screen and (max-width: 500px) {
    .logo_header {
        width: 20%;
        min-width: 80px;}
}
.carousel-control.right, .carousel-control.left{
	background-image: none!important;
}
.info-footer button{
	margin:5px 0px;
	height: 40px;
	width: 40px;
	background-color: transparent;
	border: 1px black;
}
.info-footer {
	font-family: 'plaza';
	color:#222222;
	font-size: large;
	font-weight: bold;

}
.list-group-item {
	border: none;
	background-color: transparent;
}
.contact {
	font-family: 'plaza';
	color:#222222;
}
.text-concept{
	font-family: 'plaza';
	font-size: large;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 7%;
}
.insta {
	margin-top: 20px!important;
	margin-bottom: 20px!important;
}
footer{
	margin-top: 20px;
}
body .ctn{
	min-width: 320px;
}
@media only screen and (max-width: 768px) {
    .telheader{
	display: none;
}

}

.imgqui{
	margin: 0 auto;
	display: block;
}

.titre-text-concept{
	font-family: 'plaza';
	font-size: x-large;
}
.boutons-bas-footer{
	font-family: 'plaza';
	font-size: large;
	font-weight: bold;
}
footer h3{
	font-size: 30px;
}
.cgu{
	margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
.formbord1 {
	border-right: 2px dashed black!important;
}
.formbord{
	border-right: 2px dashed black!important;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.formbord1{
	border-right: 2px dashed black!important;
}
}
.formbordlast, .formbord1, .formbord{
	height: 235px!important;
}
.cameleon{
	position: absolute;
	height: 50px;
	width: 50px;
}
.cam1{
	top: 200px;
	left: 50px;
}
.cam2{
	top: 1800px;
	left: 1600px;
}
.cam3{
	top: 1000px;
	left: 250px;
}
.cam4{
	top: 2500px;
	left: 30px;
}
.cam5{
	top: 3100px;
	left: 1400px;
}
.titre-food-truck{
	font-weight: bold;
}