body {
    background-image: url("Images/purty_wood.png");
    background-repeat: repeat;
}
@font-face {
	font-family: 'plaza';
	src: url('fonts/plaza.ttf');
}

.carte {
	font-family: 'plaza';
}

.carte h2 {

}
.carte p {
	text-align: left;
}

#prix {
	float: : right;
}